flows.json
[
    {
        "id": "788510f294255c8b",
        "type": "tab",
        "label": "DEVICE INIT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c6dec1f2e201670d",
        "type": "tab",
        "label": "DATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "590aed86c3482a18",
        "type": "tab",
        "label": "LOCALIZATION",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc6ba0aa9c729836",
        "type": "tab",
        "label": "CONNECTIVITY & MONITORING",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f91d6e32ad34d56a",
        "type": "tab",
        "label": "CAN",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e6cdd9658d4b98d",
        "type": "group",
        "z": "c6dec1f2e201670d",
        "name": "Envio por MQTT",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4b44abe7284d3925",
            "3b0fb10da4893963",
            "dbb0818b6ec8428d",
            "10fe9b1f0057fb10",
            "ce80aa21413d62c3",
            "d825a23051422fb4",
            "2106c9058afc494e",
            "ab7d8e0de922c171",
            "123a73d31ff03049",
            "30e7094decd8d85a",
            "59a6cb29d810557c",
            "725455281c6afeb6",
            "3aad3ad409322448",
            "56f2ac1b5a2a8e7e",
            "99f9a902e0a02b8b"
        ],
        "x": 74,
        "y": 59,
        "w": 712,
        "h": 382
    },
    {
        "id": "8d53d2f17df7fbc4",
        "type": "mqtt-broker",
        "name": "ACME_broker",
        "broker": "161.132.39.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4a15d48ba9c0d957",
        "type": "socketcan-config",
        "interface": "can1"
    },
    {
        "id": "27bb12220d584b8b",
        "type": "inject",
        "z": "788510f294255c8b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "5b454eded2d3018e",
                "ccebd822ace1701d"
            ]
        ]
    },
    {
        "id": "ccebd822ace1701d",
        "type": "exec",
        "z": "788510f294255c8b",
        "command": "/home/debian/owasys4x_binaries/LEDS_OWASYS",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5b454eded2d3018e",
        "type": "exec",
        "z": "788510f294255c8b",
        "command": "/home/debian/owasys4x_binaries/ID_OWASYS",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "8ecceffb2fed69ac"
            ],
            [],
            []
        ]
    },
    {
        "id": "2c07cb4192be846e",
        "type": "debug",
        "z": "788510f294255c8b",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ecceffb2fed69ac",
        "type": "function",
        "z": "788510f294255c8b",
        "name": "function 2",
        "func": "msg.payload = msg.payload.slice(0,6)\nconst parsed = msg.payload.toString();\nmsg.payload = parsed;\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 60,
        "wires": [
            [
                "2c07cb4192be846e",
                "16c4de50b2cfd1e0"
            ]
        ]
    },
    {
        "id": "d4c91e04aba283b0",
        "type": "inject",
        "z": "788510f294255c8b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "334af9de76a73448"
            ]
        ]
    },
    {
        "id": "16c4de50b2cfd1e0",
        "type": "change",
        "z": "788510f294255c8b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_gps.gateway_key",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "live_sensors.gateway_key",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "live_info.gateway_key",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "334af9de76a73448",
        "type": "change",
        "z": "788510f294255c8b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_info",
                "pt": "global",
                "to": "{\"gateway_key\":\"\",\"timestamp\":0,\"data\":{\"gateway_info\":{\"eth_ip\":\"-\",\"vpn_ip\":\"-\",\"ping_acme\":\"-\",\"total_space\":0,\"free_space\":0,\"temperature\":0,\"vbat\":0}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "live_gps",
                "pt": "global",
                "to": "{\"gateway_key\":\"\",\"timestamp\":0,\"data\":{\"gps\":{\"pos_valid\":0,\"latitude\":0,\"longitude\":0,\"altitude\":0,\"haccuracy\":0,\"speed\":0,\"course\":0}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "live_sensors",
                "pt": "global",
                "to": "{\"gateway_key\":\"\",\"timestamp\":0,\"data\":{\"sensor_combustible\":{\"altura\":0,\"combustible\":0}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4b44abe7284d3925",
        "type": "inject",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "dbb0818b6ec8428d"
            ]
        ]
    },
    {
        "id": "3b0fb10da4893963",
        "type": "mqtt out",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "topic": "data_live/fast/gps",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d53d2f17df7fbc4",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "dbb0818b6ec8428d",
        "type": "function",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "function 103",
        "func": "var data_json = global.get('live_sensors');\ndata_json.timestamp = msg.payload;\nmsg.payload = data_json;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "123a73d31ff03049"
            ]
        ]
    },
    {
        "id": "10fe9b1f0057fb10",
        "type": "mqtt out",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "topic": "data/online/save/sensors",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d53d2f17df7fbc4",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "ce80aa21413d62c3",
        "type": "function",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "function 103",
        "func": "var data_json = global.get('live_gps');\ndata_json.timestamp = msg.payload;\nmsg.payload = data_json;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "3b0fb10da4893963"
            ]
        ]
    },
    {
        "id": "d825a23051422fb4",
        "type": "inject",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "ce80aa21413d62c3"
            ]
        ]
    },
    {
        "id": "2106c9058afc494e",
        "type": "inject",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "ab7d8e0de922c171"
            ]
        ]
    },
    {
        "id": "ab7d8e0de922c171",
        "type": "function",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "function 103",
        "func": "var data_json = global.get('live_info');\ndata_json.timestamp = msg.payload;\nmsg.payload = data_json;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "30e7094decd8d85a"
            ]
        ]
    },
    {
        "id": "123a73d31ff03049",
        "type": "mqtt out",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "topic": "data_live/fast/sensors",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d53d2f17df7fbc4",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "30e7094decd8d85a",
        "type": "mqtt out",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "topic": "data_live/slow",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d53d2f17df7fbc4",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "59a6cb29d810557c",
        "type": "mqtt out",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "topic": "data/online/save/gps",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d53d2f17df7fbc4",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "725455281c6afeb6",
        "type": "inject",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "3aad3ad409322448"
            ]
        ]
    },
    {
        "id": "3aad3ad409322448",
        "type": "function",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "function 105",
        "func": "var data_json = global.get('live_sensors');\ndata_json.timestamp = msg.payload;\nmsg.payload = data_json;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "10fe9b1f0057fb10"
            ]
        ]
    },
    {
        "id": "56f2ac1b5a2a8e7e",
        "type": "inject",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "99f9a902e0a02b8b"
            ]
        ]
    },
    {
        "id": "99f9a902e0a02b8b",
        "type": "function",
        "z": "c6dec1f2e201670d",
        "g": "3e6cdd9658d4b98d",
        "name": "function 106",
        "func": "var data_json = global.get('live_gps');\ndata_json.timestamp = msg.payload;\nmsg.payload = data_json;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 400,
        "wires": [
            [
                "59a6cb29d810557c"
            ]
        ]
    },
    {
        "id": "d326a794463e052a",
        "type": "inject",
        "z": "590aed86c3482a18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "5a6438ca5708c2e3"
            ]
        ]
    },
    {
        "id": "5a6438ca5708c2e3",
        "type": "exec",
        "z": "590aed86c3482a18",
        "command": "/home/debian/owasys4x_binaries/POLLUX_GPS 10001",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "1f98709d2116c04b"
            ],
            [],
            []
        ]
    },
    {
        "id": "1f98709d2116c04b",
        "type": "json",
        "z": "590aed86c3482a18",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 140,
        "wires": [
            [
                "b714f81a054be690",
                "2c9f37ba2160a544"
            ]
        ]
    },
    {
        "id": "b714f81a054be690",
        "type": "change",
        "z": "590aed86c3482a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_gps.data.gps.pos_valid",
                "pt": "global",
                "to": "payload.coverage",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "live_gps.data.gps.latitude",
                "pt": "global",
                "to": "payload.latitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "live_gps.data.gps.longitude",
                "pt": "global",
                "to": "payload.longitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "live_gps.data.gps.altitude",
                "pt": "global",
                "to": "payload.altitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "live_gps.data.gps.haccuracy",
                "pt": "global",
                "to": "payload.HAccuracy",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "live_gps.data.gps.speed",
                "pt": "global",
                "to": "payload.speed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "live_gps.data.gps.course",
                "pt": "global",
                "to": "payload.course",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "live_gps.data.gps.num_sats",
                "pt": "global",
                "to": "payload.antenna",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2c9f37ba2160a544",
        "type": "debug",
        "z": "590aed86c3482a18",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 220,
        "wires": []
    },
    {
        "id": "e42e5626f1e90489",
        "type": "inject",
        "z": "cc6ba0aa9c729836",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "9fd1315293417574",
                "2e25ecac0d0da0e3",
                "c3d257b7b6350d75",
                "2da0559db31bd933",
                "d229c03eb43c9310",
                "924579b0b9c10f85"
            ]
        ]
    },
    {
        "id": "9fd1315293417574",
        "type": "exec",
        "z": "cc6ba0aa9c729836",
        "command": "echo -n $(ip -4 addr show | grep eth0 | grep inet | awk '{print$2}' )",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "93c706f12581e85c"
            ],
            [],
            []
        ]
    },
    {
        "id": "93c706f12581e85c",
        "type": "change",
        "z": "cc6ba0aa9c729836",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_info.data.gateway_info.eth_ip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2e25ecac0d0da0e3",
        "type": "exec",
        "z": "cc6ba0aa9c729836",
        "command": "echo -n $(df -h --total | grep /dev/root | awk '{print$2}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "cb7b4aac0a7947f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "c3d257b7b6350d75",
        "type": "exec",
        "z": "cc6ba0aa9c729836",
        "command": "echo -n $(df -h --total | grep /dev/root | awk '{print$4}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "52e124a0e8c22d22"
            ],
            [],
            []
        ]
    },
    {
        "id": "cb7b4aac0a7947f8",
        "type": "change",
        "z": "cc6ba0aa9c729836",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_info.data.gateway_info.total_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "52e124a0e8c22d22",
        "type": "change",
        "z": "cc6ba0aa9c729836",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_info.data.gateway_info.free_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2da0559db31bd933",
        "type": "exec",
        "z": "cc6ba0aa9c729836",
        "command": "/home/debian/owasys4x_binaries/TEMPERATURE_OWASYS",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 300,
        "wires": [
            [
                "6d6c2ea27d5221c3"
            ],
            [],
            []
        ]
    },
    {
        "id": "6d6c2ea27d5221c3",
        "type": "change",
        "z": "cc6ba0aa9c729836",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_info.data.gateway_info.temperature",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d229c03eb43c9310",
        "type": "exec",
        "z": "cc6ba0aa9c729836",
        "command": "/home/debian/owasys4x_binaries/VBAT_OWASYS",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "7f4d77b133019c6c"
            ],
            [],
            []
        ]
    },
    {
        "id": "7f4d77b133019c6c",
        "type": "change",
        "z": "cc6ba0aa9c729836",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_info.data.gateway_info.vbat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "924579b0b9c10f85",
        "type": "exec",
        "z": "cc6ba0aa9c729836",
        "command": "echo -n $(ip -4 addr show | grep wg0 | grep inet | awk '{print$2}' )",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "cfe000fb0c5f88ce"
            ],
            [],
            []
        ]
    },
    {
        "id": "cfe000fb0c5f88ce",
        "type": "change",
        "z": "cc6ba0aa9c729836",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_info.data.gateway_info.vpn_ip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1ba18b29a032195f",
        "type": "exec",
        "z": "cc6ba0aa9c729836",
        "command": "ping -c 1 161.132.39.167 | grep -oP '(?<=time=)[0-9.]+' | tr -d '\\n'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "0458c36c7ea57f32"
            ],
            [],
            [
                "56ce4e15aea284bb"
            ]
        ]
    },
    {
        "id": "0431e544a5138e46",
        "type": "inject",
        "z": "cc6ba0aa9c729836",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "1ba18b29a032195f"
            ]
        ]
    },
    {
        "id": "56ce4e15aea284bb",
        "type": "switch",
        "z": "cc6ba0aa9c729836",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 560,
        "wires": [
            [
                "3e3910d938e30b95"
            ]
        ]
    },
    {
        "id": "3e3910d938e30b95",
        "type": "debug",
        "z": "cc6ba0aa9c729836",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "0458c36c7ea57f32",
        "type": "change",
        "z": "cc6ba0aa9c729836",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_info.data.gateway_info.ping_acme",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "be3682918c36f029",
        "type": "socketcan-out",
        "z": "f91d6e32ad34d56a",
        "name": "socketcan-out",
        "config": "4a15d48ba9c0d957",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "23d7851cdc0dcdfc"
            ]
        ]
    },
    {
        "id": "06881a0c5b695482",
        "type": "debug",
        "z": "f91d6e32ad34d56a",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 60,
        "wires": []
    },
    {
        "id": "23d7851cdc0dcdfc",
        "type": "switch",
        "z": "f91d6e32ad34d56a",
        "name": "",
        "property": "payload.canid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "419364000",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "5db2fb4abef821b2",
                "4f35ca0811abcc1c"
            ]
        ]
    },
    {
        "id": "5db2fb4abef821b2",
        "type": "function",
        "z": "f91d6e32ad34d56a",
        "name": "function 107",
        "func": "const data_array = msg.payload.data;\n\nconst data_out = data_array[1]; \n\nmsg.payload = data_out;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "06881a0c5b695482",
                "7a1824022fce4144"
            ]
        ]
    },
    {
        "id": "7a1824022fce4144",
        "type": "change",
        "z": "f91d6e32ad34d56a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "live_sensors.data.sensor_combustible.altura",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4f35ca0811abcc1c",
        "type": "debug",
        "z": "f91d6e32ad34d56a",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 60,
        "wires": []
    }
]